  *{
    font-family: Rubik,sans-serif;
    margin: 0;
    padding: 0;
  }
  body{
    overflow-x: hidden;
  }
  body::-webkit-scrollbar{
    width: 0.4rem;
  }
  body::-webkit-scrollbar-track{
    background: #1e1e24;
  }
   body::-webkit-scrollbar-thumb{
    background: #75e7ba;
  }


  #root{
    background-color:#0f0f11;
    width:100%;
    height:4000px;
    left: 0px;
    position: relative;
    top:0px;

  }
  #homeSmall{
    display: none;
  }
  section{
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  nav{
    width: 100%;
    height: 100px;
    z-index: 1;
    position: relative;
    margin-left: 10%;
  }
  ul{
    margin-left: 50px;

  }
  ul li{
    list-style: none;
    display: flex;
    float:left;
    height: 100px;
    margin-top: 30px;
    margin-left: 10vh;
  }
  ul li a{
    text-decoration: none;
    font-size: 24px;
    display: block;
    color: #f5f5f5;
  }
  ul li a:hover{
    color:#75e7ba;
  }
  #start{
    top:20vh;
    position:absolute;
  }
  #title{
    color:#75e7ba;
    margin-left:150px;
    font-size: 2.5vw;
  }
  #startparagraph{
    margin-left:135px;
    margin-top: 1vh;
    font-size: 1.5vw;
  }
  #startButton{
    height: 4vw;
    width: 7vw;
    border-radius: 8px;
    background-color: #75e7ba;
    position: absolute;
    float: left;
    margin-top: 10vh;
    left: 150px;
    border: none;
    font-size: 20px;
    }
    #startButton:hover{
      background-color: #6cd4ab;
    }
    #bigdiv{
      position: absolute;
      display: flex;
      top: 65vw;
      width: 100%;
    }
    #div1{
      position: absolute;
      float: left;
      margin-left: 15%;
    }
    #div2{
      position: absolute;
      float: left;
      margin-left: 45%;
    }
    #div3{
      position: absolute;
      float: left;
      margin-left: 75%;
    }
    h2{
      color:#75e7ba;
      margin: 10px 0 10px 0;
    }
    p{
      color:white;
    }
    #txtbox{
      border: #f5f5f5 solid 4px;
      position: relative;
      top: 92vw;
      margin-left: 35%;
      width: 30%;
      height: 10vw;      
    }
    #txtboxchild{
      margin-top: 4vw;
    }
    #h2Down{
      text-align: center;
    }
    #pDown{
      text-align: center;
      margin-top: 25px;
    }
    @media screen and (max-width:1980px){

        .picture{
          width: 360px;
          height: 480px;
        }
        body{
          overflow-x: hidden;
        }
        #div1{
          margin-left: 10%;
        }
        #div2{
          margin-left: 42%;
        }
        #div3{
          margin-left: 72%;
        }
        #txtbox{
          top: 100vw;      
        }
      }
      @media screen and (max-width:1600px){

        #txtbox{
          top: 106vw;
          margin-left: 30%;
          width: 40%;
          height: 15vw;
        }        
      }
      @media screen and (max-width:1280px){

          .picture{
            width: 300px;
            height: 400px;
          }
          body{
            overflow-x: hidden;
          }
          #div1{
            margin-left: 5%;
          }
          #div2{
            margin-left: 38%;
          }
          #div3{
            margin-left: 70%;
          }
          #txtbox{
            top: 113vw;      
          }

        }
        @media screen and (max-width:1025px){

            .picture{
              width: 210px;
              height: 280px;
            }
            body{
              overflow-x: hidden;
            }
            #div1{
              margin-left: 5%;
            }
            #div2{
              margin-left: 38%;
            }
            #div3{
              margin-left: 70%;
            }
            ul{
              margin-left: 10px;
            }
            ul li{
              margin-left: 5vh;
            }
            .text{
              font-size: smaller;
            }
            #startButton{
              height: 50px;
              width: 100px;
              margin-top: 2.5vh;
            }
            #startparagraph{
                margin: 15px 0 25px 137px;
                font-size: 1.4vw;
           }
           #txtbox{
            top: 105vw;      
          }
        }
        @media screen and (max-width:800px){

          .picture{
            width: 150px;
            height: 200px;
          }
          body{
            overflow-x: hidden;
          }
          #div1{
            margin-left: 5%;
          }
          #div2{
            margin-left: 38%;
          }
          #div3{
            margin-left: 70%;
          }
          ul{
            margin-left: 10px;
          }
          ul li{
            margin-left: 5vh;
          }
          #start{
            top:8vh;
          }
          #title{
            font-size: 4vw;
            margin-left: 75px;
          }
          #startparagraph{
            margin: 15px 0 25px 75px;
            font-size: 2vw;
          }
          #startButton{
            height: 50px;
            width: 100px;
            margin-top: 3vh;
            margin-left: 0px;
          } 
          #txtbox{
            top: 100vw;           
            margin-left: 25%;
            width: 50%;
            height: 20vw;
          }
          #txtboxchild{
            margin-top: 2vw;
          }
        }
          @media screen and (max-width:420px){

            #root{
              height: 3500px;
            }
            #homeSmall{
              display: block;
            }
            #home{
              display: none;
            }
            .picture{
              width: 150px;
              height: 200px;
            }
            body{
              overflow-x: hidden;
            }
            ul{
              margin-left: 10px;
            }
            ul li a{
              font-size: 12px;
            }
             ul li{
              margin-top: 10px;
              margin-left: 25px;
            }
            #start{
              top:47vh;
            }
            #title{
              font-size: 6vw;
              margin-left: 55px;
            }
            #startparagraph{
              margin: 15px 0 25px 60px;
              font-size: 4vw;
            }
            #startButton{
              height: 30px;
              width: 85px;
              margin-top: 4vh;
              margin-left: -100px;
              font-size: smaller;
            }
            nav{
              margin-left: 5px;
            }
            #div1{
              top: 630px;
              margin-left: 30%;
            }
            #div2{
              top: 950px;
              margin-left: 30%;
            }
            #div3{
              top: 1250px;
              margin-left: 30%;
            }
            #txtbox{
              top: 1745px;           
              margin-left: 15%;
              width: 70%;
              height: 23vw;
            }
            #pDown{              
              margin: 5px 3px 0 3px;
              font-size: smaller;              
            }
        }
