  html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Rubik,sans-serif;

  }
  body{
    overflow-x: hidden;
  }
  body::-webkit-scrollbar{
    width: 0.4rem;
  }
  body::-webkit-scrollbar-track{
    background: #1e1e24;
  }
   body::-webkit-scrollbar-thumb{
    background: #75e7ba;
  }
 
  /* Responsive Background  */
  .intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(///C:/Users/kianf/Documents/atom/Website/Zlatan1.png);
    display: table;
    top: 0;
    background-size: cover;
  }

  #root{
    background-color:#000000;
    height:4000px;
    left: 0px;
    top:0px;
    z-index: -1;
    }
    #homeSmall{
      display: none;
    }
    section{
      top: 0;
      position: absolute;
      z-index: 0;
    }
    #navbig{
      width: 100%;
      height: 100px;
      z-index: 1;
      position: relative;
      margin-left: 10%;
    } 
   
 
  /* Navigation Styles normal */
  ul{
    margin-left: 20vh;

  }
  ul li{
    list-style: none;
    display: flex;
    float:left;
    height: 100px;
    margin-top: 30px;
    margin-left: 8vh;
  }
  ul li a{
    text-decoration: none;
    font-size: 24px;
    display: block;
    color: #f5f5f5;
  }
  ul li a:hover{
    color:#75e7ba;
  }
  /* Navigation Styles mobile */
  #navmobile{
    display: hidden;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    width: 100%;
    position: fixed;
  }
  .logo{
    color:#e3e0e0;
    font-size: 30px;
  }
  .nav-links{
    display: none;
    justify-content: space-around;
    width: 40%;
    margin: 30px;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links a{
    color:#e3e0e0;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size:24px;
  }
  .burger{
    display: none;
    float: right;
  }
  .burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color:#e3e0e0;
    transition: all 0.3s ease;
  }
  a:hover {
    text-decoration: underline;
  }
  
  /* Home text */
  #start{
    top:20vh;
    position:absolute;
  }
  #title{
    color:#75e7ba;
    margin-left:150px;
    font-size: 2.5vw;
  }
  #startparagraph{
    margin-left:135px;
    margin-top: 1vh;
    font-size: 1.5vw;
  }
  #startButton{
    height: 4vw;
    width: 15vw;
    border-radius: 8px;
    background-color: #75e7ba;
    position: absolute;
    float: left;
    margin-top: 10vh;
    left: 150px;
    border: none;
    font-size: 20px;
    }
    #startButton:hover{
      background-color: #6cd4ab;
    }
    #bigdiv{
      position: absolute;
      display: flex;
      top: 113vh;
      width: 100%;
    }
    #div1{
      position: absolute;
      float: left;
      margin-left: 15%;
    }
    #div2{
      position: absolute;
      float: left;
      margin-left: 45%;
    }
    #div3{
      position: absolute;
      float: left;
      margin-left: 75%;
    }
    h2{
      color:#75e7ba;
      margin: 10px 0 10px 0;
    }
    p{
      color:white;
    }
    #txtbox{
      border: #f5f5f5 solid 4px;
      position: relative;
      top: 180vh;
      margin-left: 35%;
      width: 30%;
      height: 18vh;      
    }
    #txtboxchild{
      margin-top: 5vh;
    }
    #h2Down{
      text-align: center;
    }
    #pDown{
      text-align: center;
      margin-top: 25px;
    }
    @media screen and (max-width:1980px){

        .picture{
          width: 360px;
          height: 480px;
        }
        body{
          overflow-x: hidden;
        }
        #bigdiv{
          width: 95%;
        }
        
      }
      
      @media screen and (max-width:1280px){

          .picture{
            width: 300px;
            height: 400px;
          }
          body{
            overflow-x: hidden;
          }
          #bigdiv{
            left: -70px;
          }
          #txtbox{
            top: 183vh;
          }
        }
        @media screen and (max-width:1025px){

            .picture{
              width: 210px;
              height: 280px;
            }
            body{
              overflow-x: hidden;
            }
            #bigdiv{
              width: 90%;
            }
           
            ul{
              margin-left: 10px;
            }
            ul li{
              margin-left: 5vh;
            }
            .text{
              font-size: smaller;
            }
            #startButton{
              height: 50px;
              width: 130px;
              margin-top: 7vh;
              font-size: smaller;
            }
            #startparagraph{
                margin: 15px 0 25px 137px;
                font-size: 1.4vw;
           }
           
        }
        @media screen and (max-width:800px){

          .intro{
            background: url(//C:/Users/kianf/Documents/atom/Website/Zlatan-small.png); 
            background-repeat: no-repeat;
            width: 100%;
            
              /* height: 800px;
              background-size: 100% 100%; */
                     
          }
          .picture{
            width: 300px;
            height: 400px;
          }
          body{
            overflow-x: hidden;
          }
          #div1{
            top: 10vh;
            margin-left: 42%;
          }
          #div2{
            top: 62vh;
            margin-left: 42%;
          }
          #div3{
            top: 112vh;
            margin-left: 42%;
          
          }
          #navbig{
            margin-left: 0;
          }
          ul{
            margin-left: 0px;
          }
          ul li{
            margin-left: 5vh;
          }
          #start{
            top:300px;
          }
          #title{
            font-size: 8vw;
            margin-left: 75px;
          }
          #startparagraph{
            margin: 15px 0 25px 75px;
            font-size: 2.5vw;
          }
          #startButton{
            height: 75px;
            width: 300px;
            margin-top: 15vw;
            margin-left: 0px;
          } 
          #txtbox{
            top: 280vh;           
            margin-left: 22%;
            width: 60%;
            height: 20vh;
          }    
        }
         
          @media screen and (max-width:420px){

            #root{
              height: 2500px;
            }
            .intro{
               background: url(//C:/Users/kianf/Documents/atom/Website/zlatannew.PNG); 
              background-repeat: no-repeat; 
              background-size: 100% 100%;
                       
            }
            #homeSmall{
              display: block;
            }
            #home{
              display: none;
            }
            .picture{
              width: 150px;
              height: 200px;
            }
            body{
              overflow-x: hidden;
            }
            #start{
              top:47vh;
            }
            #title{
              font-size: 6vw;
              margin-left: 55px;
            }
            #startparagraph{
              margin: 0 0 25px 60px;
              font-size: 4vw;
            }
            #startButton{
              height: 30px;
              width: 100px;
              margin-top: 8vh;
              margin-left: -100px;
              font-size: smaller;
            }
            #bigdiv{
              top: 100vh;
            }
            
            #div1{              
              margin-left: 53%;
            }
            #div2{              
              margin-left: 53%;
            }
            #div3{              
              margin-left: 53%;
            }
            #txtbox{
              display: none;  
            }
            #pDown{
              
              margin-top: 2px;
            }
            /* Navigation Styles mobile 420px */
            #navbig{
              display: none;
            }
            #navmobile{
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              z-index: 3;     

              
            }
            .nav-links{
            position: absolute;
            right: 0px;
            height: 96vh;
            top:14px;
            background-color: #010202;
            display: flex;
            flex-direction: column;
            /* align-items: center; */
            width: 120%;
            transform: translateX(125%);
            transition: transform 0.5s ease-in;
            overflow-y: hidden;
            
            }
            .nav-links li{
              opacity: 0;
            }
            .burger{
              display: block;
              margin: 13px;
            }
          }

/* Extra Styles Über Uns 
                          */
  .überbig{
    position: absolute;
    top: 4em;
    width: 100%;
    z-index: 2;
  }
  .übersmall{
    text-align: center;
  }
   #überh2{   
    font-size: 180%;    
   }
    #übertxt{
    position: relative;
    font-size: smaller;
    margin:2em 2em 4em 3em;
    z-index: 2;
   }
   #überbkr{
     position: absolute;
     top: 5em;
     right: -40em;
     width: 150vh;
     height: 150vh;
     border-radius: 50%;
     background-color: #7feec1;

   }
   #überpic{
     position: relative;
     z-index: 2;
   }

 
   /*   
Styles kurse 
Example for easy mobile skeleton with styles*/
   .kurstop{
     position: relative;
     top: 4em;
     width: 100%;
     z-index: 2;
   }
   .kurstopcontent{
     text-align: center;
   }
   #kurscontenth2{
     font-size: 180%;
   }
   #kurscontenttxt{
      font-size: smaller;
      margin: 2em 2em 4em 3em;
   }

   #kursbottom{
     display: block;
   }


    @media screen and (min-width:430px){
      .überbig{
        position: absolute;
        top: 14em;
      }
      #navmobile{
        position: absolute;
        top: 0;
      }
      
     
      #überpic{
        width: 40%;
      }

      .kurstop{
        top: 14em;

      }
      
    }

    @media screen and (min-width:1024px){
     
      .überbig{
        top: 15em;
        display: grid;
        grid-template-columns: repeat(2,50%); 
      }
       #überh2{
        text-align: center;       
       }
       #überpic{
         position: absolute;
         width: 25%;
         margin-left: 40%;
       }
       #übertxt{
        font-size:110%;
    }
  }
  @media screen and (min-width:1500px){
    #überpic{
      width: 20%;
    }
  }
  @media screen and (min-width:1920px){
    #überbig{
      top: 20em;
    }
    #überpic{
      width: 15%;
      grid-template-columns: repeat(2,40%);
      top: 15em;
      margin-left: 45%;
    }
    #übertxt{
      font-size: x-large;
    }
    #überh2{
      font-size: 250%;
    }  
  }



  .überbig,.inner{
    animation: fadeIn 2s forwards;
  }
  #überbkr{
    animation: fadeBkr 3s forwards;
  }





  @keyframes fadeIn{
    from{
      opacity: 0;
      transform: translateY(-3em) ;
    }
    to{
      opacity: 1;
      transform: translateY(0) ;
    }
  }
  @keyframes fadeBkr{
    from{
      opacity: 1;
      transform: translateY(5em) ;
    }
    to{
      opacity: 0.8;
      transform: translateY(0) ;
    }
  }








/* 
Styles burger */
  .nav-active{
    transform: translateX(25%);
   }  

@keyframes navLinkFade{
  from{
    opacity:0;
    transform:translateX(40px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
    }
}

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }