  *{
    font-family: Rubik,sans-serif;
    margin: 0;
    padding: 0;
  }
  body::-webkit-scrollbar{
    width: 0.4rem;
  }
  body::-webkit-scrollbar-track{
    background: #1e1e24;
  }
  body::-webkit-scrollbar-thumb{
    background: #75e7ba;
  }


  #root{
    background-color:#1c1c1c;
    width:100%;
    height:2300px;
    left: 0px;
    position: absolute;
    top:0px;
  }
  section{
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
  nav{
    width: 100%;
    height: 100px;
    z-index: 1;
    position: relative;
    margin-left: 10%;
  }
  ul{
    margin-left: 50px;

  }
  ul li{
    list-style: none;
    display: flex;
    float:left;
    height: 100px;
    margin-top: 30px;
    margin-left: 10vh;
  }
  ul li a{
    text-decoration: none;
    font-size: 24px;
    display: block;
    color: #f5f5f5;
  }
  ul li a:hover{
    color:#75e7ba;
  }
  #start{
    top:20vh;
    position:absolute;

  }
  #title{
    color:#75e7ba;
    margin-left:150px;
    font-size: 2.5vw;
  }
  #startparagraph{
    margin-left:135px;
    font-size: 1.5vw;

  }
  #startButton{
    height: 3vw;
    width: 7vw;
    border-radius: 8px;
    background-color: #75e7ba;
    position: absolute;
    float: left;
    margin-top: 5vh;
    left: 150px;
    border: none;
    }
    #startButton:hover{
      background-color: #6cd4ab;
    }
    #bigdiv{
      position: absolute;
      display: flex;
      top: 65vw;
      width: 100%;
    }
    #div1{
      position: absolute;
      float: left;
      margin-left: 15%;
    }
    #div2{
      position: absolute;
      float: left;
      margin-left: 45%;

    }
    #div3{
      position: absolute;
      float: left;
      margin-left: 75%;
    }


    h2{
      color:#75e7ba;
      margin: 10px 0 10px 0;
    }
    p{
      color:white;
    }
    @media screen and (max-width:1980px){

        .picture{
          width: 360px;
          height: 480px;
        }
        body{
          overflow-x: hidden;
        }
        #div1{
          margin-left: 10%;
        }
        #div2{
          margin-left: 42%;
        }
        #div3{
          margin-left: 72%;
        }
      }
      @media screen and (max-width:1280px){

          .picture{
            width: 300px;
            height: 400px;
          }
          body{
            overflow-x: hidden;
          }
          #div1{
            margin-left: 5%;
          }
          #div2{
            margin-left: 38%;
          }
          #div3{
            margin-left: 70%;
          }
        }
        @media screen and (max-width:1025px){

            .picture{
              width: 210px;
              height: 280px;
            }
            body{
              overflow-x: hidden;
            }
            #div1{
              margin-left: 5%;
            }
            #div2{
              margin-left: 38%;
            }
            #div3{
              margin-left: 70%;
            }
            ul{
              margin-left: 10px;
            }
            ul li{
              margin-left: 5vh;
            }
        }
    #bigdivk{
      position: absolute;
      display: column;
      width: 100%;
      top: 15vw;
    }
    #navk{
      background-color: #75e7ba;
    }
